#footer-body {
    position: fixed;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 150px;

    border-top: 1px #222 solid;
    box-shadow: #ffffff11 0px 14px 28px, #ffffff11 0px -10px -10px;
    background: linear-gradient(0deg, #111, #000);
    z-index: 999;
    transition: all 0.3s ease-out;
}

#footer-body.scrolled {
    bottom: 0;
}