.layout {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

.layout-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    box-sizing: border-box;
}

.layout-content-slot {
    display: flex;
    width: 75%;
    max-width: 1200px;
    height: fit-content;

    margin-top: 125px;
    align-self: center;
    justify-self: center;

    z-index: 0;
}

.space-background {
    position: fixed;

    inset: 0;
    background: radial-gradient(circle at 50% 30%, #1b235a, #050510 80%);
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

#star-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
