#navbar-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;

    z-index: 1001;
    transition: all 0.3s ease-out;
}

#navbar-body.scrolled {
    top: -65px;
}

#navbar-body .liquid-glass {
    pointer-events: none;
    filter:brightness(1.5);
}

#navbar-hover-hitbox {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background: transparent;
}

#navbar-body .navbar-slot {
    display: flex;
    position: fixed;
    width: fit-content;
    min-width: 20px;
    height: 65px;
    align-items: center;
}

#navbar-body .navbar-slot.left {
    left: 0;
    padding-left: min(1.5%, 15px);
    justify-content: flex-start;
}

#navbar-body .navbar-slot.right {
    right: 0;
    padding-right: min(1.5%, 15px);
    justify-content: flex-end;
}

#navbar-body .navbar-item {
    display: flex;
    width: auto;
    height: 100%;
    gap: 0.5rem;
    padding: 0 0.75rem;
    border: 0;

    align-items: center;
    justify-items: center;
    background: transparent;

    cursor: pointer;
    transition: all 0.1s linear;
    z-index: 1002;
}

#navbar-body .navbar-item:hover {
    background: #00000011;
}

#navbar-body .navbar-item img {
    width: auto;
    height: 40%;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #ffffffaa) brightness(0.75);
}

#navbar-body .navbar-item img.title {
    height: calc(65% - 2px);
    border: 1px #888 solid;
}

#navbar-body .navbar-item span {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

#navbar-body .navbar-item span.title {
    font-size: 1.5rem;
    font-weight: 600;
}

#navbar-body .navbar-select-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}

#navbar-body .navbar-select-item.img {
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

#navbar-body .navbar-select-item.text {
    font-size: 1.1rem;
}