#navbar-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;

    border-bottom: 2px #fff solid;
    box-shadow: #00000011 0px 14px 28px, #00000011 0px 10px 10px;
    background: linear-gradient(0deg,#b0d0d6,#7ca1be);
    z-index: 1001;
    transition: all 0.3s ease-out;
}

#navbar-body.scrolled {
    top: -65px;
}

#navbar-hover-hitbox {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background: transparent;
}

#navbar-body .navbar-slot {
    display: flex;
    position: fixed;
    width: fit-content;
    min-width: 20px;
    height: 65px;
    align-items: center;
}

#navbar-body .navbar-slot.left {
    left: 0;
    padding-left: min(1.5%, 15px);
    justify-content: flex-start;
}

#navbar-body .navbar-slot.right {
    right: 0;
    padding-right: min(1.5%, 15px);
    justify-content: flex-end;
}

#navbar-body .navbar-item {
    display: flex;
    width: auto;
    height: 100%;
    gap: 0.5rem;
    padding: 0 0.75rem;
    border: 0;

    align-items: center;
    justify-items: center;
    background: transparent;

    cursor: pointer;
    transition: all 0.1s linear;
}

#navbar-body .navbar-item:hover {
    background: #00000011;
}

#navbar-body .navbar-item img {
    width: auto;
    height: 40%;
    border-radius: 50%;
}

#navbar-body .navbar-item img.title {
    height: calc(65% - 2px);
    border: 1px #888 solid;
}

#navbar-body .navbar-item span {
    display: inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

#navbar-body .navbar-item span.title {
    font-size: 1.5rem;
    font-weight: 600;
}

