#sidebar-body {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120px;
    height: calc(100vh - 65px);

    padding-top: 65px;
    border-right: 4px #888 solid;
    box-shadow: #00000011 14px 0px 28px, #00000011 10px 0px 10px;
    background: #111;
    z-index: 1000;
    transition: left 0.3s ease-out;
}

#sidebar-body.scrolled {
    left: -120px;
}

#sidebar-hover-hitbox {
    position: fixed;
    width: 150px;
    height: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
}

#sidebar-body .button-slot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

#sidebar-body .button-slot .sidebar-item {
    width: 100%;
    height: 3rem;
    border: 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;

    margin: 0.5rem 0;
    color: #fff;
    background: #ffffff06;
    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.1s ease-out;
    z-index: 1001;
}

#sidebar-body .button-slot .sidebar-item.active {
    border-bottom: 0px #ccc solid;
    background: #ffffff33;
}

#sidebar-body .button-slot .sidebar-item:hover {
    background: #ffffff44;
}

#sidebar-body .button-slot .sidebar-item-list {
    width: 80%;
    max-height: 0;

    margin: 0;
    padding: 0 5%;
    color: #fff;
    border-top: 0px #888 solid;
    
    overflow: hidden;
    transition: all 0.3s ease-out;
}

#sidebar-body .button-slot .sidebar-item-list.active {
    max-height: 10rem;
    border-top: 1px #888 solid;
    border-bottom: 1px #888 solid;
    margin-bottom: 0.5rem;
}

#sidebar-body .button-slot .sidebar-item-list li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    
    margin: 0.5rem 0;
    font-size: 0.85rem;
    font-weight: 300;
    list-style: none;

    z-index: 1001;
}

#sidebar-body .button-slot .sidebar-item-list li:hover {
    background: radial-gradient(
    ellipse at center,
    rgba(255,255,255,0.18) 0%,
    rgba(255,255,255,0.05) 50%,
    rgba(255,255,255,0) 100%
  );
}

#sidebar-body .button-slot .sidebar-item-list li span {
    width: 100%;
    font-weight: 600;
    white-space: unset;
}

#sidebar-body .button-slot .sidebar-item-list li a {
    height: 1.5rem;
    color: #fff;
    text-decoration: none;
    z-index: 1001;
}

#sidebar-body .button-slot .sidebar-item-list li:hover a {
    font-weight: 600;
    font-size: 0.9rem;
}
