#sidebar-body {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120px;
    height: calc(100vh - 65px);

    padding-top: 65px;
    border-right: 4px #888 solid;
    box-shadow: #00000011 14px 0px 28px, #00000011 10px 0px 10px;
    background: linear-gradient(270deg,#727575,#545455);
    z-index: 1000;
    transition: left 0.3s ease-out;
}

#sidebar-body.scrolled {
    left: -120px;
}

#sidebar-hover-hitbox {
    position: fixed;
    width: 150px;
    height: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
}

#sidebar-body .button-slot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    margin-top: 1rem;
    border: 1px #f00 solid;
}

#sidebar-body .button-slot .sidebar-item {
    width: 100%;
    height: 3rem;

    border: 0;
    background: #00000000;
}

#sidebar-body .button-slot .sidebar-item:hover {
    background: #00000011;
}