
# dependencies
SOURCE/node_modules
SOURCE/.pnp
SOURCE/.pnp.js

# testing
SOURCE/coverage

# production
SOURCE/build

# misc
SOURCE/.DS_Store
SOURCE/.env.local
SOURCE/.env.development.local
SOURCE/.env.test.local
SOURCE/.env.production.local

SOURCE/npm-debug.log*
SOURCE/yarn-debug.log*
SOURCE/yarn-error.log*
