.about-data-body {
    display: flex;
    flex-direction: column;
    width: 75%;

    gap: 2rem;

    border-radius: 1.5rem;
    transition: background-color 0.3s ease-out;
    z-index: 0;
}

.about-data-body .item-slot {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.about-data-body.left {
    align-self: flex-start;
}

.about-data-body.left .item-slot {
    align-items: flex-start !important;
}

.about-data-body.right {
    align-self: flex-end;
}

.about-data-body.right .item-slot {
    align-items: flex-end !important;
}

/*====================================*/
/* title box */
/*====================================*/

.about-title-box {
    display: flex;
    height: 4rem;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}

.about-data-body.left .about-title-box {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.about-data-body.right .about-title-box {
    flex-direction: row;
    align-self: flex-start;
}

.about-title-box .about-main-logo {
    height: calc(100% - 0.5rem);
    margin: 0.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 30%;
    filter: drop-shadow(0 0 10px rgba(80, 150, 255, 0.7));
    transition:
        height 0.25s ease,
        margin 0.25s ease,
        filter 0.25s ease;
}

.about-title-box .about-main-title {
    color: #fff;
    margin: 0;
    padding: 0;

    font-size: 1.8rem;
    word-break: keep-all;
}

/*====================================*/
/* description box */
/*====================================*/

.about-description-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem;
}

.about-description-box .about-desc-item {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 0.5rem;
    height: fit-content;
    min-height: 2rem;
    align-items: center;
}

.about-description-box .about-desc-item .about-desc-title {
    display: inline-flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;

    gap: 0.25rem;

    align-items: center;
    white-space: unset;
    word-break: keep-all;
    pointer-events: auto;
}

.about-description-box .about-desc-item .about-desc-text {
    display: flex;
    color: #ddd;
    font-size: 1rem;
    font-weight: 500;
    white-space: pre-line;
    line-height: 1.75;
    z-index: 500;
}

.about-data-body.left .about-description-box .about-desc-item .about-desc-text {
    text-align: start;
}

.about-data-body.right .about-description-box .about-desc-item .about-desc-text {
    text-align: end;
}

.about-description-box .about-desc-item .about-desc-title.link {
    text-decoration: underline;
    transition: filter 0.2s ease;
}

.about-description-box .about-desc-item .about-desc-title.link:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.about-description-box .about-desc-item .about-desc-icon {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

.about-data-body.left .about-description-box,
.about-data-body.left .about-description-box .about-desc-item {
    align-items: flex-start;
}

.about-data-body.right .about-description-box,
.about-data-body.right .about-description-box .about-desc-item {
    align-items: flex-end;
}

/*====================================*/
/* hover actions */
/*====================================*/

.about-data-body:hover {
    background-color: #22224488;
}

.about-data-body:hover .about-title-box .about-main-logo {
    height: 100%;
    margin: 0;
    filter: drop-shadow(0 0 20px rgba(80, 150, 255, 0.9));
}