body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'krFont';
    src: url(../public/fonts/PretendardVariable.ttf) format("truetype");
}

@font-face {
    font-family: 'enFont';
    src: url(../public/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'numFont';
    src: url(../public/fonts/SUITE-Medium.ttf) format("truetype");
}

.kr-font {
    font-family: 'krFont', sans-serif;
}

.en-font {
    font-family: 'enFont', sans-serif;
}

.num-font {
    font-family: 'numFont', sans-serif;
}