.page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: fit-content;

    gap: 3.5rem;
    margin-bottom: 250px;
    
    align-items: center;
}

