.project-slot {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    gap: 3rem;
    scroll-margin-top: 100px;

    color: #fff;
    align-items: center;
    justify-content: center;
}

.project-slot h2{
    margin: 0;

    font-size: 2rem;
    font-weight: 600;
    filter: drop-shadow(0px 2px 4px #000);
}

.project-slot .empty-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-slot .empty-slot img{
    width: 4rem;
    height: 4rem;
}

.project-fixed-slot {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 100px;
    right: 25px;
    width: 120px;
    height: fit-content;
    min-height: 1rem;
    border: 1px solid #fff;
}

.project-fixed-slot a {
    display: flex;
    width: 100%;
    height: 2rem;

    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #11113355;
    border: 1px solid #fff;
    text-decoration: none;
    transition: height 0.2s ease-out, background-color 0.2s ease-out;
}

.project-fixed-slot a:hover {
    height: 3rem;
    background-color: #22228855;
}

@media (max-width: 700px) {
    .project-fixed-slot {
        bottom: 130px;
    }
}